@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

/* Styling für die Navigation */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    padding: 10px 20px;
}

/* Styling für den linken Text */
.navbar-brand {
    font-weight: bold;
    font-size: 1.2rem;
    color: black;
    font-family: 'Poppins', sans-serif;
    background-color: lightgray;
    display: inline-block;
    padding: 15px;
}

.navbar-text {
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    background-color: lightgray;
    border-radius: 5px;
    transition: background-color 0.3s;
}

/* Styling für die Navigations-Links */
.navbar-end {
    display: flex;
    gap: 15px;
    margin-right: 35px;
}

.navbar-item {
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    background-color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.section {
    padding: 20px;
}

p{
    hyphens: auto;
    text-align: justify;
    width: 100%;
}

#weltkarte{
    width: 100%;
    float: left;
}

.laenderText {
    position: absolute;
    display: none;
}

/* Position Dem. Rep Kongo */
#elementKobalt1, #elementTantal2 {
    bottom: 36%;
    left: 32%;
}
/* Position China */
#elementKobalt2, #elementWolfram1, #elementZinn1{
    bottom: 62%;
    left: 52%;
}
/* Position Russland */
#elementKobalt3, #elementWolfram3{
    bottom: 80%;
    left: 47%;
}
/* Position Ruanda */
#elementTantal1{
    bottom: 38%;
    left: 37%;
}
/* Position Brasilien */
#elementTantal3{
    bottom: 32%;
    left: 16%;
}
/* Position Vietnam */
#elementWolfram2{
    bottom: 49%;
    left: 53%;
}
/* Position Indonesien */
#elementZinn2{
    bottom: 35%;
    left: 54%;
}
/* Position Peru */
#elementZinn3{
    bottom: 29%;
    left: 12%;
}

button {
    margin: 0.5rem;
}

button.active {
    background-color: darkgrey;
}

button.inactive {
    background-color: lightgrey;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-bottom: 20px;
}

#prototyp {
    width: 70%;
    height: auto;
    margin: 0 auto;
}






